@import "tailwindcss";


@theme {
	--color-primary: hsl(158, 64%, 35%);
	--color-primary-foreground: hsl(0, 0%, 100%);
	--color-primary-light: hsl(158, 47%, 92%);
	--color-primary-dark: hsl(158, 64%, 25%);
	--color-secondary: hsl(45, 86%, 58%);
	--color-secondary-foreground: hsl(222, 30%, 15%);
	--color-secondary-light: hsl(54, 84%, 95%);
	--color-secondary-dark: hsl(45, 86%, 48%);
	--color-accent: hsl(220, 45%, 25%);
	--color-accent-foreground: hsl(0, 0%, 100%);
	--color-accent-light: hsl(227, 63%, 96%);
	--color-accent-dark: hsl(220, 45%, 15%);
	--color-background: hsl(60, 20%, 99%);
	--color-foreground: hsl(222, 30%, 15%);
	--color-muted: hsl(220, 15%, 96%);
	--color-muted-foreground: hsl(221, 15%, 45%);
	--color-muted-foreground-light: hsl(221, 15%, 65%);
	--color-muted-foreground-dark: hsl(221, 15%, 35%);
	--color-border: hsl(223, 14%, 90%);
	--color-destructive: hsl(0, 75%, 55%);
	--color-destructive-foreground: hsl(0, 0%, 100%);
	--color-destructive-light: hsl(0, 75%, 95%);
	--color-destructive-dark: hsl(0, 75%, 45%);
	--color-input: hsl(216, 16%, 94%);
	--color-slider-background: hsl(0, 0%, 98%);
	--color-header: hsl(60, 20%, 99%);
}